*,
*::before,
*::after {
  box-sizing: border-box;
}
/* custom */
:root {
  --ff-primary: "Poppins";
  --ff-secondary: "Monda";

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-bg: #fff;
  --clr-pnk: #ffd2e5;
  --clr-bl: #c1fbff;
  --clr-ylw: #fff0b9;

  --fs-h1: 3rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

@media (max-width: 450px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
  }
  img {
    width: 250px;
  }
}

/* general */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  font-family: var(--ff-primary);
  margin: 0;
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 9em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* typography */

h1,
h2,
h3 {
  /* line-height: 1; */
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.section--title--intro {
  font-weight: var(--fw-reg);
}

.section__title.section__title--intro {
  background: var(--clr-pnk);
  padding: 0.25em;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h2);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-bl);
  padding: 0.25em 1em;
  font-family: var(--ff-primary);
  margin-bottom: 1em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;

}

.nav {
  font-family: var(--ff-secondary);
  position: fixed;
  background: var(--clr-pnk);
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 700ms cubic-bezier(0.5, 0, 0.5, 1);
}

@media (min-width: 450px) {
  .nav__link {
    font-size: var(--fs-h2);
  }
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
}

.nav__link:hover {
  cursor: pointer;
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  /* top: 0em; */
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  background: black;
  width: 3em;
  height: 3px;
  border-radius: 2px;
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: black;
  width: 3em;
  height: 3px;
  border-radius: 2px;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.logo {
  font-family: var(--ff-secondary);
  max-width: 100px;
}
#scroll-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(187 187 187 / 70%); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 3px 5px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#scroll-top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* intro section */

.intro {
  position: relative;
}

@media (min-width: 860px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "title img"
      "subtitle img";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    /* min-width: 250px; */
    width: 250px;

    display: block;
    margin: 0 auto;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: 1;
    grid-row: 2;
  }

  .section__title--intro {
    align-self: start;
    grid-row: 1;
    width: max-content;
  }
}

@media (max-width: 859px) {
  .intro__img {
    width: 200px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  .intro__img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
}

.about-me {
  max-width: 100%;
  /* margin: 0 auto;  */
  background-color: var(--clr-ylw);
}

h2.section__title.section__title--about {
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  position: relative;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  position: relative;
  padding: 2em;
  align-content: center;
}

.about-img img {
  width: 350px;
  margin-top: 1em;
  border: 2px solid black;
  border-radius: 15px;
}

.about-text {
  max-width: 500px;
  margin-left: 50px;
}

@media (max-width: 1420px) {
  .about-content {
    width: 100%;
  }
  .about-text {
    align-self: center;
  }
}

@media (max-width: 800px) {
  .about-content {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .about-container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .about-img {
    max-width: 250px;
    align-self: center;
  }
  .about-text {
    align-self: center;
  }
}

@media (max-width: 599px) {
  .about-img {
    max-width: 200px;
    align-self: center;
  }
  .about-text {
    margin-left: 0px;
  }
}

.my-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px 150px;
}

.my-stack h4 {
  text-align: center;
}

.front-end-stack,
.back-end-stack,
.other-tools-stack {
  max-width: 400px;
  min-width: 300px;
  padding: 10px;
}

.front-end-stack {
  background-color: var(--clr-pnk);
}
.back-end-stack {
  background-color: var(--clr-bl);
}
.other-tools-stack {
  background-color: var(--clr-ylw);
}

@media (max-width: 1150px) {
  .my-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
    align-items: center;
  }
  .front-end-stack,
  .back-end-stack,
  .other-tools-stack {
    width: 400px;
    /* min-width: 300px; */
    padding: 10px;
    margin-top: 20px;
  }
}

@media (max-width: 420px) {
  .my-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px;
    align-items: center;
  }
  .front-end-stack,
  .back-end-stack,
  .other-tools-stack {
    width: 300px;
    /* min-width: 300px; */
    padding: 10px;
    margin-top: 20px;
  }
}

.my--work {
  background-color: var(--clr-bl);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 1150px;
  margin: 0 auto;
}

.portfolio__img {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.footer {
  background: rgb(187 187 187 / 18%);
  text-align: center;
  padding: 2.5em 0;
}

.footer a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.footer-link:hover,
.social-list__link:hover {
  opacity: 7;
}

.contact-me:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0 0;
  padding: 0px;
}

.fab,
.fas {
  margin: 10px;
  font-size: var(--fs-h2);
}
